.card{
    position: relative;
    width: 200px;
    margin: 10px;
}
.card img{
    width: 100%;
    border-radius: 8PX;
}
.hover-icons{
    position: absolute;
    top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    display: none;
}

.card:hover .hover-icons{
    display: flex;
}

.icon-heart{
    color: red;
}

.icon-cart{
    color: orange;
}
